@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.woff');
}

* {
    font-family: Vazir;
}

.mainTable {
    direction: rtl;
    width: 50%;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

.star {
    color: red;
}